<div class="row ml-3 mr-3" >
<div class="container w-50 mt-lg-5 p-3 my-3 bg-dark text-white col">
  <h2> The Hejaz Railway Museum</h2>
  <p class="text-justify">
    The Hejaz Railway Museum (Arabic: متحف سكة الحجاز) in Medina is a railway
    museum that was opened in 2006.It is on the grounds of the restored ,
    historic Ottoman railway station at Medina, locally called "Istasyōn" ,
    including a stretch of the historic track and a train shed with originally
    four tracks. There are several engines and pieces of rolling stock on
    display, some of which has been transported to the museum from other places
    along the historic Hejaz railway line. At least one engine has been restored
    enough to be driveable on the museum tracks. It is, along with the old train
    station at Mada'in Saleh, one of two museums in Saudi Arabia dedicated to
    the Hejaz railway.
  </p>
</div>
<div class="container w-50 mt-lg-5 p-3 my-3 text-white" style="background-color: rgb(207, 197, 50);" >
    <h2>COLLECTIONS</h2>
    <p class="text-justify">
      Medina before Islam, Medina during the Prophet’s era, Medina during the
      reign of the first Saudi state and The second Saudi Arabia, and the reign of
      King Abdulaziz.
    </p>
  </div>
</div>
<div class="row ml-3 mr-3">
<div class="container w-100 mt-lg-2 p-3 my-3 text-white" style="background-color: rgb(189, 188, 174);">
  <h2>The Hejaz Railway</h2>
<p class="text-justify">
  The Hejaz railway was a narrow-gauge railway (1,050 mm / 3 ft 5 11⁄32 in track
  gauge) that ran from Damascus to Medina, through the Hejaz region of modern
  day Saudi Arabia, with a branch line to Haifa on the Mediterranean Sea. It was
  a part of the Ottoman railway network and the original goal was to extend the
  line from the Haydarpaşa Terminal in Kadikoy beyond Damascus to the holy city
  of Mecca. However, construction was interrupted due to the outbreak of World
  War I, and it reached no further than Medina, 400 kilometres (250 mi) short of
  Mecca. The completed Damascus to Medina section was 1,300 kilometres (810 mi).
  The main purpose of the railway was to establish a connection between
  Istanbul, the capital of the Ottoman Empire and the seat of the Islamic
  Caliphate, and Hejaz in Arabia, the site of the holiest shrines of Islam and
  the holy city of Mecca, the destination of the Hajj annual pilgrimage. Another
  important reason was to improve the economic and political integration of the
  distant Arabian provinces into the Ottoman state, and to facilitate the
  transportation of military forces.
</p>
</div>
</div>
<div class="row ml-3 mr-3">
    Put image here
</div>



