* {
  margin: 0;
  padding: 0;
}

nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: rgb(0, 0, 0);

  top: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}

li a:hover {
  color: rgb(207, 197, 50);
  text-decoration: none;
}

.logo li a {
  text-align: center;
}


.buttonBuy{

  background-color: rgb(185, 131, 14);

  color: white;
  padding: 5px 20px;
  font-size:20px;
  border: none;
  border-radius:2%;
 

}